* {
    margin: 0;
    font-family: roboto, sans-serif;
}

.material-icons.md-35 { 
    font-size: 35px; 
    position: relative;
    top: 8px;
}

.material-icons.black { 
    font-size: 26px; 
}

.material-icons{ 
    font-size: 20px; 
}

#name {
    position:relative;
    top: 3px;
    font-weight: bold;
}

#avatar{
    width: 35px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: -8px;
    position: relative;
    top: 2px;
}

#avatar-large{
    width: 70px;
    border-radius: 50px;
}

h2{
    font-weight: 600 !important;
}

h2,h3{
    color: white;
    font-weight: normal;
}

h4{
    font-size: 22px;
}

a{
    text-decoration: none;
}

a:hover{
    font-size: 1.05rem;
}

i{
    position: relative;
    top: 3px;
    right: 15px;
    margin-left: 15px;
}

button{
    background-color: #1992D3;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: auto;
    min-width: 110px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: repeat(12, 1fr);
}

.sidebar{
    padding: 15px;
    background-color: #1993d3;
    grid-row: 1 / -1;
    width: 250px;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

.logo{
    margin-bottom: 60px;
}

.main{
    display: grid;
    gap: 10px;
    margin-bottom: 55px;
}

.sub{
    display: grid;
    gap: 10px;
}

.header,.main-content{
    grid-column-start: 2;
}

.header{
    background-color: #ffffff;
    grid-row: 1 / 4;
    min-height: 170px;
}


.header-content{
    height: 100%;
    padding: 0% 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 10px;
}

.search{
    height: 100%;
    display: flex;
    align-items: center;
}

.left {
    min-width: 60%;
}

.right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#search{
    width: 90%;
    height: 30px;
    border:none;
    border-radius: 20px;
    background-color: #E2E8F0;

}

.profile{
    height: 100%;
    display: grid;
    grid-template-columns: auto 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-content: center;

}

.profile-column.av{
    grid-row: span 2;
    justify-self: start;
    align-self: center;
}

.profile-column.name{
    grid-row: span 2;
    border: none;
    justify-self: start;
    align-self: center;
    font-weight: bold;
    margin-left: 15px;
}

.greeting{
    font-size: 13px;
    padding-bottom: 8px;
}

.profile-column.button{
    grid-row: span 2;
    border: none;
    align-self: center;
    justify-self: flex-end;
}

.main-content{
    background-color: #e0e9f0;
    padding: 2% 2%;
    grid-row: 4 / -1;
    display: grid;
    height: 100vh;
    gap: 30px;
}

.content-titles{
    font-size: 18px;
    font-weight: bold;
}

.card-text{
    color: rgb(109, 109, 109);
    font-weight: light;
}

#announcements{
    grid-column: 2 / 3;
}


.card{
    width: 320px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid #f0b329;
    box-shadow: 2px 2px 10px rgb(194, 194, 194);
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.card-icons{
    justify-self: end;
    align-self: end;
}

.cards{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.announcements{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px 1fr;
}

#trending{
    grid-row: 2/3;
    align-self: end;
}

.announcement-card{
    height: auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.announcement{
    border-bottom: 1px solid rgb(202, 202, 202);
}

.announcement.last{
    border-bottom: none;
}

.anoun-title{
    font-size: 14px;
    font-weight: bold;
    margin: 15px 15px 5px 15px;
}

.anoun-text{
    font-size: 12px;
    font-weight: lighter;
    margin: 0px 15px 15px 15px;
    color: rgb(114, 114, 114);
}

.content-titles{
    align-self: end;
}

.trending-card{
    margin-top: 15px;
    height: 275px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;

    gap: 15px
}

img{
    border-radius: 50px;
}

.trend-text{
    align-self: center;    
}

.trend-name{
    font-size: 14px;
}

.trend-description{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(114, 114, 114);
}